--markup markdown
--markup-provider kramdown
--output-dir doc
--protected
--private
--embed-mixins
--hide-void-return
--no-progress
--title "HeadMusic API Documentation"
--quiet
lib/**/*.rb
-
README.md
CHANGELOG.md
CONTRIBUTING.md
LICENSE.txt